    body {
    	background-color: #757575;
    	color: #000000;
    }

    #map {
    	border: solid 4px #000000;
        height: 500px;
        width: 95%;
    }
    
    .heading {
        text-align: center;
    }
    
    .mapview {
        padding-top: 50px;
        padding-right: 50px;
    }
    
    .overview {
        padding-top: 50px;
        padding-left: 50px;
    }
	.navbar {
		padding-bottom: 8px;
		background-color: #FFFFFF;
	}

	.d-inline-block {
		margin-right: 5px;
	}

	a {
		color: #000000;
	}