    /* font-family: 'Share',
    cursive;
    font-family: 'Limelight',
    cursive; */
    
    body {
        background-color: #757575;
        color: #FFFFFF;
        font-family: 'Share', cursive;
        letter-spacing: 2px;
        font-size: 22px;
    }
    
    #map {
        border: solid 4px #FFFFFF;
        height: 500px;
        width: 95%;
    }
    
    .heading {
        font-family: 'Limelight', cursive;
        text-align: center;
        font-size: 50px;
        letter-spacing: 2px;
    }
    
    .mapview {
        padding-top: 50px;
        padding-right: 50px;
    }
    
    .overview {
        margin-top: 100px;
        padding-top: 50px;
        padding-left: 20px;
    }
    
    .navbar {
        padding-bottom: 8px;
        background-color: #FFFFFF;
    }
    
    .d-inline-block {
        margin-right: 5px;
    }
    
    a {
        color: #000000;
    }
